:root {
  color-scheme: light dark;
}

 
html,
body,
#root {
  height: 100%;
  transition: background-color 0.3s, color 0.3s;
}

/* Light theme */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Dark theme */
body.dark-theme {
  background-color: #121212;
  color: #f5f5f5;
}

.container-responsive {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}